@import "tailwindcss";

@theme {
  --color-primary: #3B82F6;
  --color-background: #F3F4F6;
  --color-card: #FFFFFF;
}

body {
  @apply bg-background text-gray-900;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html, body {
  overscroll-behavior-y: none;
}